.search-input{
    width: 80vh;
}

.first-search-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel_Buttons {
    margin-left : 5vh; 
    margin-right : 5vh; 
}